{%- extends '@WexampleSymfonyDesignSystemBundle/pages/design_system/generic/stage/layout/layout-stage.html.twig' -%}

{%- set page_body_mode = 'wide' -%}

{%- block page_body -%}
    <div class="rail rail--horizontal rail--spaced" style="--rail-column-size: var(--size-7)">
        <div class="rail--track">
            {% for column in 1..10 %}
                <div class="rail--item">
                    {% if column <= 3 %}
                        {{ vue(render_pass, '@WexampleSymfonyDesignSystemBundle/vue/partials/stage') }}
                    {% else %}
                        EMPTY
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{%- endblock -%}
