{% macro start(render_pass, group = 'default', class = '') %}
     <ul class="tabs tabs-{{ group }} {{ class }}">
        {{ component_init_parent(render_pass, '@WexampleSymfonyDesignSystemBundle/components/tabs', {group:group}) }}
{% endmacro %}

    {% macro end() %}
         </ul>
{% endmacro %}

{% macro tab_to_page(route, routeParameters = {}) %}
    <li>
        TODO
    </li>
{% endmacro %}
