{% macro start(group = 'default', class = '') %}
<ul class="tabs tabs-{{ group }} {{ class }}">
    {{ component_init_parent('components/tabs', {group:group}) }}
    {% endmacro %}

    {% macro end() %}
</ul>
{% endmacro %}

{% macro tab_to_page(route, routeParameters = {}) %}
    <li>
        {{ render_tag('a', {
            class: 'tab tab-internal' ~ (route_is_current(route, routeParameters) ? ' active' : ''),
            href: url(route, routeParameters),
        }, ((translation_build_domain_from_path(page_name_from_route(route)) ~ '::page_title') | trans)) }}
    </li>
{% endmacro %}
