{%- extends '@WexampleSymfonyDesignSystemBundle/layouts/design_system/layout.html.twig' -%}

{%- block page_header -%}
    {{ parent() }}
    <div class="tabs">
        {{ tab_item('WexampleSymfonyDesignSystemBundle.pages.design_system.generic.actions.layout.layout-actions::tab.index', 'wexample_design_system_generic_actions_index') }}
        {{ tab_item('WexampleSymfonyDesignSystemBundle.pages.design_system.generic.actions.layout.layout-actions::tab.toolbar', 'wexample_design_system_generic_actions_toolbar') }}
        {{ tab_item('WexampleSymfonyDesignSystemBundle.pages.design_system.generic.actions.layout.layout-actions::tab.tab', 'wexample_design_system_generic_actions_tab') }}
    </div>
{%- endblock -%}
