{%- extends '@WexampleSymfonyDesignSystemBundle/components/entity.html.twig' -%}

{%- block entity_variant_class -%}bar{%- endblock -%}

{%- block entity_body -%}
    <div class="entity--display--bar--column">
        {% block entity_display_bar_gutters_leading %}{% endblock %}
    </div>
    <div class="entity--display--bar--body">
        {% block entity_display_bar_body %}{% endblock %}
    </div>
    <div class="entity--display--bar--column text-secondary">
        {% block entity_display_bar_gutters_trailing %}{% endblock %}
    </div>
{%- endblock -%}
