@use 'sass:math';

@use '@material/button/mdc-button';
@use '@material/button';

@import '../mixins/pill';
@import '../mixins/block';

.button {
  border-radius: $pill-border-radius;

  &.button-full-width {
    width: 100%;
  }

  &.mdc-button--raised .mdc-button__ripple {
    border-radius: $pill-border-radius;
  }
}

.block {
  .button {
    width: calc(100% - #{$block-padding-x});
    margin-left: math.div($block-padding-x, 2);
  }
}
