@import '../mixins/global';
@import '../mixins/reset';

.tabs {
  @extend .reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a.tab {
    @include text-ellipsis;
    padding: 0.9rem 1.7rem;
    transition-duration: 0.5s;
  }

  &.tabs-vertical {
    a {
      width: 100%;
    }

    a.tab.active {
      border: 0;
      padding-bottom: 0.9rem;
    }
  }
}

.tab-content {
  display: none;

  &.tab-content-active {
    display: initial;
  }
}
