{%- extends '@WexampleSymfonyDesignSystemBundle/layouts/design_system/layout.html.twig' -%}

{%- block page_header -%}
    {{ parent() }}
    <div class="tabs">
        {{ tab_item('WexampleSymfonyDesignSystemBundle.pages.design_system.generic.layout.layout.layout-generic::tab.index', 'wexample_design_system_generic_layout_index') }}
        {{ tab_item('WexampleSymfonyDesignSystemBundle.pages.design_system.generic.layout.layout.layout-generic::tab.stack', 'wexample_design_system_generic_layout_stack') }}
        {{ tab_item('WexampleSymfonyDesignSystemBundle.pages.design_system.generic.layout.layout.layout-generic::tab.table', 'wexample_design_system_generic_layout_table') }}
    </div>
{%- endblock -%}
