{%- extends '@WexampleSymfonyDesignSystemBundle/vue/bases/vue.vue.twig' -%}

{%- block vue_body -%}
    <div :class="wrapperCssClasses">
        {%- block vue_wrapper_body -%}{%- endblock -%}
    </div>
{% endblock %}