@use '../../css/tokens/spacing' as spacing;

.avatar {
  --avatar-size: #{spacing.$space-6};
  width: var(--avatar-size);
  height: var(--avatar-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-pill, 9999px);
  overflow: hidden;
  background: var(--color-invert-2);
  color: var(--color-default-text);
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
