@use '../mixins/animation' as animation;
@use '../semantic/feedback' as feedback_semantic;

.banner {
  @include feedback_semantic.feedback-base;
  padding: var(--space-4);
  box-shadow: var(--shadow-2);
  text-align: center;
  color: var(--feedback-color);
  background: var(--feedback-bg);
}

.banner--floating {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
}

.banner.is-opening {
  @include animation.enter(1);
}

.banner.is-closing {
  @include animation.exit(1);
}

.banner--info {
  @include feedback_semantic.feedback-info;
}

.banner--success {
  @include feedback_semantic.feedback-success;
}

.banner--warning {
  @include feedback_semantic.feedback-warning;
}

.banner--error {
  @include feedback_semantic.feedback-error;
}

.banner--flash {
  --feedback-color: var(--color-absolute-dark);
}

.banner--flash.banner--info {
  --feedback-bg: var(--color-info-16);
}

.banner--flash.banner--success {
  --feedback-bg: var(--color-success-16);
}

.banner--flash.banner--warning {
  --feedback-bg: var(--color-warning-16);
}

.banner--flash.banner--error {
  --feedback-bg: var(--color-error-16);
}
