@use '../mixins/message' as message;
@use '../mixins/animation' as animation;

.banner {
  @include message.message-base;
  border-left: 0;
  border-radius: 0;
  border-top: 0;
  box-shadow: var(--shadow-2);
  text-align: center;
  color: var(--message-color);
}

.banner.is-opening {
  @include animation.enter(1);
}

.banner.is-closing {
  @include animation.exit(1);
}

.banner--info {
  @include message.message-info;
}

.banner--success {
  @include message.message-success;
}

.banner--warning {
  @include message.message-warning;
}

.banner--error {
  @include message.message-error;
}
