@use '../../css/mixins/spacing' as spacing_vars;

.block {
  --block-padding: var(--space-4);
  padding: var(--block-padding);
  border-radius: var(--radius-1);
  background: var(--color-invert-1);
  border: var(--border-default);
}
