@use '../../css/tokens/spacing' as spacing;

.block {
  --block-padding: #{spacing.$space-4};
  --block-radius: var(--radius-2, 0.5rem);
  padding: var(--block-padding);
  border-radius: var(--block-radius);
  background: var(--color-invert-1);
  border: var(--border-default);
}
