@use '../../css/tokens/spacing' as spacing;

.block {
  --block-padding: #{spacing.$space-4};
  padding: var(--block-padding);
  border-radius: var(--radius-block);
  background: var(--color-invert-1);
  border: var(--border-default);
}
