@use '../../css/mixins/text' as text;

.breadcrumb {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--font-size-2);
  padding: 0 var(--space-2);

  .breadcrumb--item {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-1) 0;
  }

  .breadcrumb--item--current {
    color: var(--color-link);
  }

  .breadcrumb--separator {
    display: flex;
    color: var(--text-color-subtle);
  }

  .breadcrumb--label {
    @include text.text-ellipsis;
  }
}

.breadcrumb--page {
  padding: var(--space-2) 0;

  .breadcrumb--item {
    color: var(--text-color-muted);
    text-decoration: none;

    &:is(a):hover {
      color: var(--color-default-text);
    }
  }

  .breadcrumb--item--current {
    color: var(--color-default-text);
    font-weight: 500;
  }
}