.button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-1);
  border: 0;
  background: var(--color-invert-1);
  color: var(--color-default-text);
  font-size: var(--font-size-3);
  box-shadow: var(--shadow-1);
  cursor: pointer;
}

.button--invert {
  background: var(--color-default-background-invert);
  color: var(--color-default-text-invert);
}

.button--icon {
  display: inline-flex;
  align-items: center;
  line-height: 1;
}
