@use '../../css/tokens/spacing' as spacing;

.card {
  border-radius: var(--radius-1);
  background: var(--color-invert-1);
  border: var(--border-default);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: column;
  color: inherit;
  overflow: hidden;

  .card--body {
    padding: #{spacing.$space-4};
  }

  .card--media {
    width: 100%;
    height: 8rem;
    overflow: hidden;
    background: var(--color-invert-2);
    display: flex;
    align-items: center;
    justify-content: center;

    .card--media--placeholder {
      opacity: var(--opacity-1);
    }
  }

  .card--media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .card--meta {
    font-size: var(--font-size-2);
    color: var(--color-invert-6);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: spacing.$space-2;
  }

  .card--meta li {
    display: inline-flex;
    align-items: center;
    gap: spacing.$space-2;
  }
}
