.container {
  --content-size: var(--content-size-m);
  --container-padding: var(--space-4);
  max-width: var(--content-size);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.container--left {
  margin-left: 0;
  margin-right: auto;
}

.container--right {
  margin-left: auto;
  margin-right: 0;
}

.container--large {
  --content-size: var(--content-size-l);
  --container-padding: var(--space-6);
}

.container--small {
  --content-size: var(--content-size-s);
}

.container--xsmall {
  --content-size: var(--content-size-xs);
}

.container--xxsmall {
  --content-size: var(--content-size-xxs);
}

.container--full {
  --content-size: none;
}
