.container {
  --content-size: var(--content-size-m);
  --container-padding: var(--space-4);
  max-width: var(--content-size);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.container--large {
  --content-size: var(--content-size-l);
  --container-padding: var(--space-6);
}

.container--full {
  --content-size: none;
}
