@use '../../css/tokens/spacing' as spacing;

.container {
  --container-max: 60rem;
  --container-padding: #{spacing.$space-4};
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.container--medium {
  --container-max: 60rem;
}

.container--large {
  --container-max: none;
  --container-padding: #{spacing.$space-6};
}
