@use '../../css/tokens/spacing' as spacing;

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 spacing.$space-3;
  }

  h1 { font-size: var(--font-size-6, 1.5rem); }
  h2 { font-size: var(--font-size-5, 1.25rem); }
  h3 { font-size: var(--font-size-4, 1.125rem); }
  h4 { font-size: var(--font-size-3, 1rem); }
  h5 { font-size: var(--font-size-2, 0.875rem); }
  h6 { font-size: var(--font-size-2, 0.875rem); }

  p {
    margin: 0 0 spacing.$space-3;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
