.disk-item-explorer {
  --disk-item-width: var(--size-5);
  --disk-item-gap: var(--space-3);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--disk-item-width), var(--disk-item-width)));
  gap: var(--disk-item-gap);
  justify-content: start;
}
