@use '../../css/mixins/gutters' as gutters;

.footer {
  @include gutters.gutters-horizontal;
  padding: var(--space-1);
  background: var(--color-invert-2);
  border-top: var(--border-separator);

  .footer--body {
    @include gutters.gutters-body;
    display: flex;
  }
}
