@use '../../css/mixins/flex' as flex;
@use 'button' as button;
@use '../../css/mixins/message' as message;

.form {
  display: grid;
  gap: var(--space-4);
}

.form--group {
  display: grid;
  gap: var(--space-2);
}

.form--group.has-error {
  gap: var(--space-1);
}

.form--label {
  font-size: var(--font-size-2);
  color: var(--color-invert-6);
}

.form--input,
.form--textarea {
  width: 100%;
  padding: var(--space-2) var(--space-3);
  border: var(--border-default);
  border-radius: var(--radius-1);
  background: var(--color-invert-1);
  color: inherit;
  font-size: var(--font-size-3);
}

.form--group.has-error .form--input,
.form--group.has-error .form--textarea {
  border: var(--border-focus);
  border-color: var(--color-error-5);
}

.form--input:focus,
.form--textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-invert-2);
}

.form--group.has-error .form--input:focus,
.form--group.has-error .form--textarea:focus {
  box-shadow: 0 0 0 4px var(--color-error-5);
}

.form--actions {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  justify-content: flex-end;
}

.form--errors {
  @include message.message-base;
  @include message.message-error;
  padding: var(--space-3);
}

.form--field-errors {
  font-size: var(--font-size-2);
  color: var(--color-error-5);
}

.form--field-errors ul {
  margin: 0;
  padding-left: var(--space-4);
}

.form--errors ul {
  margin: 0;
  padding-left: var(--space-4);
}

.form--surface {
  padding: var(--space-4);
  border: var(--border-default);
  border-radius: var(--radius-1);
  background: var(--color-default-background);
}

.form button[type='submit'],
.form input[type='submit'] {
  @extend .button;
  @extend .button--invert;
}
