%grid-base {
  --grid-columns: 12;
  --grid-gap: var(--space-4);
  --grid-min: 14rem;
  --grid-item-width: 14rem;
  display: grid;
  width: 100%;
  gap: var(--grid-gap);
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
}

.grid {
  @extend %grid-base;
}

.grid--auto {
  @extend %grid-base;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-min), 1fr));
}

.grid--fixed {
  @extend %grid-base;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-width), var(--grid-item-width)));
  justify-content: start;
}

.grid--columns-2 {
  @extend %grid-base;
  --grid-columns: 2;
}

.grid--columns-3 {
  @extend %grid-base;
  --grid-columns: 3;
}

.grid--columns-4 {
  @extend %grid-base;
  --grid-columns: 4;
}
