@use '../../css/mixins/gutters' as gutters;

// Base gutters class
.gutters,
.gutters--horizontal,
.gutters--vertical {
  @include gutters.gutters;
}

// Define the body element
.gutters .gutters--body,
.gutters--horizontal .gutters--body,
.gutters--vertical .gutters--body {
  @include gutters.gutters-body;
}

.gutters--collapsible {
  background: blue;
}

.gutters--collapsible--collapsed {
  overflow: hidden;
}

// Horizontal layout
.gutters--horizontal {
  @include gutters.gutters-horizontal;
}

// Vertical layout
.gutters--vertical {
  @include gutters.gutters-vertical;
}
