@use '../../css/mixins/gutters' as gutters;

// Base gutters class
.gutters {
  @include gutters.gutters-base;

  // Define the body element
  .gutters--body {
    @include gutters.gutters-body;
  }

  // Horizontal layout
  &.gutters--horizontal {
    @include gutters.gutters-horizontal;
  }

  // Vertical layout
  &.gutters--vertical {
    @include gutters.gutters-vertical;
  }
}
