@use '../../css/mixins/gutters' as gutters;
@use '../../css/tokens/spacing' as spacing;

.header {
  @include gutters.gutters-horizontal;

  .header--body {
    @include gutters.gutters-body;
    padding: spacing.$space-4;
  }

  .header--title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .header--menu {
    display: flex;
    align-items: center;

    .header--menu-item {
      display: inline-flex;
      align-items: center;
      padding: spacing.$space-1;
    }

    .header--menu-item--icon {
      padding-inline: spacing.$space-4;
    }

    .header--menu-item--icon:last-child {
      margin-right: spacing.$space-2;
    }
  }
}
