@use '../../css/mixins/gutters' as gutters;
@use '../../css/tokens/spacing' as spacing;

.header {
  @include gutters.gutters-horizontal;
  padding: spacing.$space-4;

  .header--body {
    @include gutters.gutters-body;
  }

  .header--menu {
    display: flex;
    align-items: center;

    a {
      display: inline-flex;
      align-items: center;
      padding: spacing.$space-1;
    }
  }
}
