@use '../../css/mixins/gutters' as gutters;

.header {
  @include gutters.gutters-horizontal;
  height: var(--size-3);

  .header--body {
    @include gutters.gutters-body;
    display: flex;
  }

  .header--title {
    font-size: var(--font-size-5);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-4);
  }

  .header--menu {
    display: flex;
    align-items: center;

    .header--menu-item {
      display: inline-flex;
      align-items: center;
      padding: var(--space-1);
    }

    .header--menu-item--icon {
      padding-inline: var(--space-4);
    }

    .header--menu-item--icon:last-child {
      margin-right: var(--space-2);
    }
  }
}
