@use '../../css/shapes/gutters';

.layout {
  @extend .gutters;
}

.layout--horizontal {
  @extend .gutters--horizontal;
}

.layout--vertical {
  @extend .gutters--vertical;
}

.layout--body {
  @extend .gutters--body;
}
