@use '../../css/mixins/margin' as margin;
@use '../../css/mixins/list' as list;
@use '../../css/partials/global' as global;

html,
body,
#{global.$selector-title-all},
p,
ul,
ol,
dl,
dt,
dd,
blockquote,
figure {
  @include margin.no-margin-or-padding;
}

a {
  text-decoration: none;
}

ul,
ol,
menu {
  @include list.no-list-style;
}
