@use '../../css/mixins/margin' as margin;
@use '../../css/mixins/list' as list;
@use '../../css/partials/global' as global;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#{global.$selector-title-all},
p,
ul,
ol,
dl,
dt,
dd,
blockquote,
figure {
  @include margin.no-margin-or-padding;
}

a {
  text-decoration: none;
}

ul,
ol,
menu {
  @include list.no-list-style;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}
