@use '../../css/mixins/gutters' as gutters;
@use '../../css/tokens/spacing' as spacing;

.layout,
.layout--horizontal,
.layout--vertical {
  @include gutters.gutters-base;

  .layout--body {
    @include gutters.gutters-body;
    padding: 1rem;
  }
}

// Horizontal layout
.layout--horizontal {
  @include gutters.gutters-horizontal;
}

// Vertical layout
.layout--vertical {
  @include gutters.gutters-vertical;
}
