@use '../../css/shapes/gutters';

.layout {
  @extend .gutters;
}

.layout--horizontal {
  @extend .gutters--horizontal;
  height: 100%;
}

.layout--vertical {
  @extend .gutters--vertical;
  width: 100%;
}

.layout--body,
.layout--body--scrollable {
  @extend .gutters--body;
}

.layout--body--scrollable {
  overflow: auto;
}

