@use '../../css/mixins/gutters' as gutters;

.layout,
.layout--horizontal,
.layout--vertical {
  @include gutters.gutters;
  width: 100%;
  height: 100%;

  .layout--body {
    @include gutters.gutters-body;
  }
}

// Horizontal layout
.layout--horizontal {
  @include gutters.gutters-horizontal;
}

// Vertical layout
.layout--vertical {
  @include gutters.gutters-vertical;
}
