.lead {
  color: var(--color-default-text-soft);
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-1);
  background: var(--color-default-background);
}

.lead ul,
.lead ol {
  margin: var(--space-2) 0 0;
  padding-left: var(--space-4);
  list-style: initial;
}

.lead li + li {
  margin-top: var(--space-1);
}
