@use '../../css/mixins/border' as border;

.list-expanded {
  border-radius: var(--radius-1);
  background: var(--color-invert-1);
  overflow: visible;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.list-expanded--header {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-3);
  border-bottom: var(--border-separator);
}

.list-expanded--search {
  flex: 1;
  min-width: 0;
}

.list-expanded--items > [data-list-expanded-item] {
  display: block;
  padding: var(--space-3);
  color: inherit;
  text-decoration: none;
  border-bottom: var(--border-default);
}

.list-expanded--items {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.list-expanded--items > [data-list-expanded-item]:last-of-type {
  border-bottom: 0;
}

.list-expanded--items > [data-list-expanded-item]:hover {
  background: var(--color-invert-2);
}

.list-expanded--items > [data-list-expanded-item]:focus,
.list-expanded--items > [data-list-expanded-item]:focus-visible {
  position: relative;
  z-index: 1;
  border-radius: var(--radius-1);
  @include border.border-focus-floating;
}

.list-expanded .text-empty {
  padding: var(--space-4);
  text-align: center;
}
