.list-expanded {
  border: var(--border-default);
  border-radius: var(--radius-1);
  background: var(--color-invert-1);
  min-width: 18rem;
  overflow: hidden;
}

.list-expanded .text-empty {
  padding: var(--space-4);
  text-align: center;
}
