.media {
  display: block;
  overflow: hidden;
  position: relative;
}

.media img,
.media video {
  display: block;
  width: 100%;
  height: auto;
}

.media--round {
  border-radius: 50%;
}

.media--square {
  border-radius: var(--radius-1);
}

.media--cover img,
.media--cover video {
  height: 100%;
  object-fit: cover;
}

.media--bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.media--fg {
  position: relative;
  z-index: 1;
}
