.menu {
  --menu-width: var(--size-6);
  width: var(--menu-width);
}

.menu--vertical {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  li a {
    display: block;
    padding: var(--space-4);
  }
}
