@use '../../css/mixins/border' as border;

.menu {
  --menu-width: var(--size-6);
  width: var(--menu-width);
  background: var(--color-invert-1);
}

.menu--vertical {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  height: 100%;

  li a {
    display: block;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-4);

    &:hover {
      background: var(--color-invert-2);
    }

    &.active {
      font-weight: bold;
      background: var(--color-invert-2);
    }
  }
}

.menu--vertical--left {
  border-right: var(--border-default);
}
