@use '../../css/mixins/message' as message;

.message {
  @include message.message-base;
}

.message--title {
  @include message.message-title;
}

.message--info {
  @include message.message-info;
}

.message--success {
  @include message.message-success;
}

.message--warning {
  @include message.message-warning;
}

.message--error {
  @include message.message-error;
}
