.prose {
  line-height: 1.6;

  > * + * {
    margin-top: var(--space-3);
  }

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: var(--space-5);
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li + li {
    margin-top: var(--space-2);
  }

  li > ul,
  li > ol {
    margin-top: var(--space-2);
    list-style: circle;
  }
}