@use '../mixins/field' as field;

.select {
  position: relative;
  display: inline-flex;
  align-items: center;

  .select--input {
    @include field.field-base;
    appearance: none;
    padding: var(--space-2) var(--space-6) var(--space-2) var(--space-3);
    cursor: pointer;
    width: 100%;

    option {
      color: initial;
      background: initial;
    }
  }

  .select--icon {
    position: absolute;
    right: var(--space-2);
    pointer-events: none;
    display: flex;
    align-items: center;
    color: var(--text-color-muted);
  }
}
