.select {
  appearance: none;
  display: inline-flex;
  align-items: center;
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-1);
  border: 0;
  background: var(--color-invert-1);
  color: var(--color-default-text);
  font-size: var(--font-size-3);
  box-shadow: var(--shadow-1);
  cursor: pointer;
}
