@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  --spinner-size: 1.5rem;
  --spinner-stroke: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--spinner-size);
  height: var(--spinner-size);
  color: var(--color-default-text);
}

.spinner__circle {
  width: 100%;
  height: 100%;
  border: var(--spinner-stroke) solid currentColor;
  border-right-color: transparent;
  border-top-color: transparent;
  border-radius: 999px;
  animation: spinner-rotate 0.8s linear infinite;
  box-sizing: border-box;
}

.spinner--sm {
  --spinner-size: 1rem;
  --spinner-stroke: 2px;
}

.spinner--md {
  --spinner-size: 1.5rem;
  --spinner-stroke: 2px;
}

.spinner--lg {
  --spinner-size: 2.25rem;
  --spinner-stroke: 3px;
}

.spinner--invert {
  color: var(--color-default-text-invert);
}
