@use '../../css/mixins/size' as size;

.stage {
  display: block;
  @include size.size-expanded;
}

.stage--center {
  display: grid;
  place-items: center;
}

.stage--center--vertical {
  display: grid;
  align-items: center;
}

.stage--center--horizontal {
  display: grid;
  justify-items: center;
}
