%stack-base {
  display: flex;
  width: 100%;
  gap: var(--space-4);
}

.stack--horizontal {
  @extend %stack-base;
  flex-direction: row;
  flex-wrap: nowrap;
}

.stack--horizontal > * {
  flex: 1 1 0;
}

.stack--split {
  @extend %stack-base;
  flex-direction: row;
  align-items: center;
}

.stack--split > :first-child {
  flex: 1 1 auto;
}

.stack--vertical {
  @extend %stack-base;
  flex-direction: column;
}
