.tabs {
  display: flex;
  gap: var(--space-2);
}

.tabs--item {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-3);
  border-radius: 0;
  color: var(--color-default-text);
  text-decoration: none;
  border: 1px solid transparent;
}

.tabs--item:hover {
  background: var(--color-invert-1);
}

.tabs--item--active {
  background: var(--color-invert-1);
  border-color: var(--color-invert-3);
}

.tabs--surface {
  padding: var(--space-2);
  border: var(--border-default);
  border-radius: var(--radius-1);
  background: var(--color-default-background);
}
