@use '../../css/mixins/flex' as flex;

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
}

.toolbar--group {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
