@use '../../css/mixins/flex' as flex;

.toolbar {
  --toolbar-padding: var(--space-3);
  --toolbar-font-size: var(--font-size-2);
  padding: var(--toolbar-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
  font-size: var(--toolbar-font-size);
}

.toolbar--group {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.toolbar--surface {
  background: var(--color-invert-1);
}

.toolbar--surface.toolbar--top {
  border-bottom: var(--border-separator);
}

.toolbar--surface.toolbar--bottom {
  border-top: var(--border-separator);
}

.toolbar--surface.toolbar--left {
  border-right: var(--border-separator);
}

.toolbar--surface.toolbar--right {
  border-left: var(--border-separator);
}
