@use '../../css/mixins/flex' as flex;

.toolbar {
  --toolbar-padding: var(--space-3);
  --toolbar-font-size: var(--font-size-2);
  padding: var(--toolbar-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
  font-size: var(--toolbar-font-size);
}

.toolbar--group {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
