.zone {
  width: 100%;
  min-width: 0;
}

.zone--split {
  --zone-split-template: 1fr 1fr;
  display: grid;
  grid-template-columns: var(--zone-split-template);
}

.zone--split > .zone--panel {
  min-width: 0;
}

.zone--split > .zone--panel + .zone--panel {
  border-left: var(--border-discreet);
}

.zone--panel {
  padding: var(--space-4);
}

.zone--panel--muted {
  background: var(--color-invert-1);
}

.zone--split--three-panels {
  --zone-split-template: 14rem 1fr 14rem;
}
