@import 'src/Wex/BaseBundle/Resources/css/mixins/block';

$modal-border-radius: $block-border-radius !default;
$modal-progress-bar-color: blue !default;
$modal-overlay-opacity: 0.8 !default;
$modal-overlay-color: black !default;
