@mixin border-vars {
  --border-default: 1px solid var(--color-invert-3);
  --border-focus: 2px solid var(--color-invert-5);
  --border-focus-width: 4px;
  --border-separator: 1px solid var(--color-default-background);
}
