@mixin gutters {
  display: flex;
  box-sizing: border-box;
}

@mixin gutters-body {
  flex: 1;
  min-width: 0; // Prevent flex items from overflowing
  min-height: 0; // Prevent flex items from overflowing
}

@mixin gutters-horizontal {
  @include gutters;
  flex-direction: row;
}

@mixin gutters-vertical {
  @include gutters;
  flex-direction: column;
}
