@mixin gutters-base {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

@mixin gutters-body {
  flex: 1;
  overflow: auto;
  min-width: 0; // Prevent flex items from overflowing
  min-height: 0; // Prevent flex items from overflowing
  order: 0; // Keep in the middle
}

@mixin gutters-horizontal {
  @include gutters-base;
  flex-direction: row;
}

@mixin gutters-vertical {
  @include gutters-base;
  flex-direction: column;
}
