@mixin radius-vars {
  --radius-0: 0;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-pill: 9999px;

  --radius-button: var(--radius-2);
  --radius-field: var(--radius-2);
  --radius-block: var(--radius-2);
  --radius-menu: var(--radius-2);
  --radius-layout: var(--radius-3);
}
