@mixin size-vars {
  --size-1: 2rem;
  --size-2: 3rem;
  --size-3: 4rem;
  --size-4: 6rem;
  --size-5: 8rem;
  --size-6: 16rem;
  --size-7: 32rem;
  --size-8: 64rem;
  --size-9: 128rem;
}

@mixin size-expanded {
  width: 100%;
  height: 100%;
}

@mixin size-full-parent {
  @include size-expanded;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
