{%- extends '@WexampleSymfonyDesignSystemBundle/vue/bases/vue.vue.twig' -%}

{%- block vue_body -%}
    <div :class="wrapperCssClasses">
        {%- block entity_body -%}{%- endblock -%}
    </div>
{%- endblock -%}
