{%- extends '@SymfonyDesignSystemBundle/layouts/default/layout.html.twig' -%}

{%- set layout_path = layout_path|default(_self) -%}

{%- block layout -%}
    <h1 id="test-layout-title">TEST_LAYOUT_TITLE</h1>
    {{- parent() -}}
{%- endblock -%}