<div class="banner{% if type is defined and type %} banner--{{ type }}{% endif %}">
    {% if message is defined and message %}
        <div class="banner--message">{{ message }}</div>
    {% endif %}
</div>
