<div class="banner">
    <button class="banner--close" type="button" data-banner-close>
        {{ icon('ph:bold/x') }}
    </button>
    <div class="banner--title" data-banner-title hidden="hidden"></div>
    <div class="banner--message" data-banner-message></div>
</div>
