<div class="confirm">
    <div class="confirm--title" data-confirm-title hidden="hidden"></div>
    <div class="confirm--message" data-confirm-message hidden="hidden"></div>
    <div class="confirm--actions" data-confirm-actions></div>
</div>
