{% set options = options|default({}) %}
{% set attr = options.attr|default({}) %}
{% set entity_variant_class %}{% block entity_variant_class %}{% endblock %}{% endset %}
{% set class = ('entity entity--display--' ~ entity_variant_class ~ ' ' ~ options.class|default('') ~ ' ' ~ attr.class|default(''))|trim %}
{% set attr = attr|merge({ class: class }) %}

<div {{ component_render_tag_attributes(attr) }}>
    {% block entity_body %}{% endblock %}
</div>
