<li class="menu--separator{% if options.class is defined %} {{ options.class }}{% endif %}"
    {{ component_render_tag_attributes({ attr: options.attr|default({}) }) }}>
    {{ label | trans }}
</li>
