<div class="overlay" hidden="hidden">
    <div class="component-overlay"></div>
    <div class="overlay-content">
        {% include '@WexampleSymfonyDesignSystemBundle/partials/spinner.html.twig' with {
            align: 'center',
            label: '@page::label.loading' | trans
        } %}
    </div>
</div>
