<form class="upload-handler" action="#" method="post" enctype="multipart/form-data">
    <input class="upload-handler__input" type="file" name="file">
    {% block upload_handler_body %}
        {{ slots.button|default('')|raw }}
    {% endblock %}
</form>
