@use '@wexample/symfony-design-system/css/shapes/header';
@use '../../../css/mixins/border' as border;

.header {
  @include border.border-vars;

  background: var(--color-invert-2);
  border-bottom: var(--border-default);
}
