.form--input,
.form--textarea {
  width: 100%;
  padding: var(--space-2) var(--space-3);
  border: var(--border-default);
  border-radius: var(--radius-1);
  background: var(--color-invert-2);
  color: inherit;
  font-size: var(--font-size-3);
}

/* Password input toggle */
.form--input-control {
  position: relative;
  display: grid;
}

.form--input-toggle {
  position: absolute;
  right: var(--space-2);
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.form--input-password {
  padding-right: calc(var(--space-3) + 2.5rem);
}

.form--input-toggle .icon-hide {
  display: none;
}

.form--input-toggle.is-visible .icon-hide {
  display: inline;
}

.form--input-toggle.is-visible .icon-show {
  display: none;
}

select.form--input * {
  color: initial;
  background: initial;
}

.form--group.has-error .form--input,
.form--group.has-error .form--textarea {
  border: var(--border-focus);
  border-color: var(--color-error-5);
}

.form--input:focus,
.form--textarea:focus {
  outline: none;
  box-shadow: 0 0 0 var(--border-focus-width) var(--color-invert-2);
  transition: box-shadow 160ms ease, border-color 160ms ease;
}

.form--group.has-error .form--input:focus,
.form--group.has-error .form--textarea:focus {
  box-shadow: 0 0 0 var(--border-focus-width) var(--color-invert-2);
  transition: box-shadow 160ms ease, border-color 160ms ease;
}
