@use '../../../css/mixins/message' as message;

.form--errors {
  @include message.message-base;
  @include message.message-error;
  padding: var(--space-3);
}

.form--field-errors {
  font-size: var(--font-size-2);
  color: var(--color-error-5);
}

.form--field-errors ul {
  margin: 0;
  padding-left: var(--space-4);
}

.form--errors ul {
  margin: 0;
  padding-left: var(--space-4);
}
