parameters:
    design_system.debug: false
    design_system.environment: '%env(APP_ENV)%'
    design_system.enable_aggregation: false

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Wexample\SymfonyRouting\Routing\TemplateBasedRouteLoader:
      arguments:
        $container: '@service_container'
        $taggedControllers: !tagged_iterator 'has_template_routes'
        $parameterBag: '@parameter_bag'
      tags:
        - { name: 'routing.loader' }

    Wexample\SymfonyDesignSystem\:
        resource: '../../{Controller,Service}'
        tags: ['controller.service_arguments']
