parameters:
    design_system.debug: false
    design_system.environment: '%env(APP_ENV)%'
    design_system.enable_aggregation: false

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Wexample\SymfonyDesignSystem\:
        resource: '../../{Command,Controller,Service,Twig}'
        tags: ['controller.service_arguments']
