.form--input-control {
  position: relative;
  display: grid;
}

.form--input-toggle {
  position: absolute;
  right: var(--space-2);
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.form--input-password {
  padding-right: calc(var(--space-3) + 2.5rem);
}

.form--input-toggle .icon-hide {
  display: none;
}

.form--input-toggle.is-visible .icon-hide {
  display: inline;
}

.form--input-toggle.is-visible .icon-show {
  display: none;
}
