{%- extends '@WexampleSymfonyDesignSystemBundle/layouts/demo/layout.html.twig' -%}

{%- block page_body -%}
    <h2>{{ '@page::color_schemes.title' | trans }}</h2>
    <div class="block">
        {{ '@page::color_schemes.body' | trans | raw }}
    </div>
{%- endblock -%}