@use '../../../css/shapes/search-box';
@use '../../../css/shapes/bar';
@use '../../../css/shapes/avatar';
@use '../../../css/shapes/spinner';
@use '../../../css/shapes/button';
@use '../../../css/shapes/form';

.entity-search-input--picked {
  border: var(--border-default);
  border-radius: var(--radius-1);
  padding: var(--space-2) var(--space-3);
}

.entity-search-input--clear {
  line-height: 1;
}
