{%- extends '@WexampleSymfonyDesignSystemBundle/vue/bases/form-field.vue.twig' -%}

{%- block field_control -%}
    <select
            class="form--input form--input--select"
            :name="name || null"
            :id="resolvedId"
            :value="resolvedValue"
            :required="required ? true : null"
            :disabled="disabled ? true : null"
            @change="onChange"
    >
        <option
                v-for="(option, index) in options"
                :key="index"
                :value="resolveOptionValue(option)"
        >[[ resolveOptionLabel(option) ]]</option>
    </select>
{%- endblock -%}
