{%- extends '@WexampleSymfonyDesignSystemBundle/vue/form/fields/base-field.vue.twig' -%}

{%- block vue_body -%}
    <button :type="type" :disabled="disabled ? true : null">[[ resolvedLabel ]]</button>
{%- endblock -%}
