{%- extends '@WexampleSymfonyDesignSystemBundle/bases/base.html.twig' -%}

{%- block layout_base -%}
    {{- parent() -}}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8"/>
    </head>
    <body class="{{ body_class|default('') }}">
    <div id="initial-layout" class="layout-loading">
        {{- block('page_body') -}}
    </body>
    </html>
{%- endblock -%}
