@use '../../button/button' as button;

.form--actions {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  justify-content: flex-end;
}

.form input[type='submit'] {
  @extend .button;
}
