@import '../../mixins/global';
@import '../../shapes/icon';
@import '../../shapes/icon_material';

body {
  padding: 0;
}

.page-overlay,
.page-overlay-full {
  @include full-parent-size;
  display: none;
  z-index: 1;
}

.page-overlay {
  position: absolute;
  background: rgba(white, 0.5);
}

.page-overlay-full {
  position: fixed;
  background: rgba(black, 0.5);
}
