@use 'spinner';

.table--row--loading .table--cell--loading {
  padding: var(--space-3);
  text-align: center;
}

.table--row--loading .spinner {
  margin-inline: auto;
}

.table--row--empty .table--cell--empty {
  text-align: center;
  color: var(--color-invert-6);
  font-style: italic;
}
