<table class="table">
    <thead v-if="showHeader && columns.length">
        <tr class="table--row">
            <slot name="header" :columns="columns">
                <th
                    v-for="(column, columnIndex) in columns"
                    :key="getColumnKey(column, columnIndex)"
                    class="table--cell"
                    :class="column.className"
                    scope="col"
                >
                    [[ getColumnLabel(column) ]]
                </th>
            </slot>
        </tr>
    </thead>
    <tbody>
        <tr
            v-for="(row, index) in rows"
            :key="index"
            class="table--row"
        >
            <template v-if="$slots.row">
                <slot name="row" v-bind="{ row, columns }"></slot>
            </template>
            <template v-else>
                <td
                    v-for="(column, columnIndex) in columns"
                    :key="getColumnKey(column, columnIndex)"
                    class="table--cell"
                    :class="column.className"
                >
                    <template v-if="$slots.cell">
                        <slot
                            name="cell"
                            v-bind="{ row, column, value: getCellValue(row, column) }"
                        ></slot>
                    </template>
                    <template v-else>
                        <template v-if="isHtmlCell(column)">
                            <span v-html="getCellValue(row, column)"></span>
                        </template>
                        <template v-else-if="hasCellActions(column)">
                            <span class="table--actions">
                                <template v-for="(action, actionIndex) in getCellActions(row, column)">
                                    <a
                                        v-if="action.href"
                                        :key="`action-link-${actionIndex}`"
                                        :href="action.href"
                                        class="table--icon-link"
                                        v-html="action.icon"
                                    ></a>
                                    <span
                                        v-else
                                        :key="`action-icon-${actionIndex}`"
                                        class="table--icon"
                                        v-html="action.icon"
                                    ></span>
                                </template>
                            </span>
                        </template>
                        <template v-else-if="column.icon">
                            <a
                                v-if="getCellHref(row, column)"
                                :href="getCellHref(row, column)"
                                class="table--icon-link"
                                v-html="getCellIcon(row, column)"
                            ></a>
                            <span
                                v-else
                                class="table--icon"
                                v-html="getCellIcon(row, column)"
                            ></span>
                        </template>
                        <template v-else-if="getCellHref(row, column)">
                            <a :href="getCellHref(row, column)">[[ getCellValue(row, column) ]]</a>
                        </template>
                        <template v-else>
                            [[ getCellValue(row, column) ]]
                        </template>
                    </template>
                </td>
            </template>
        </tr>
    </tbody>
    <tfoot v-if="$slots.footer">
        <tr class="table--row">
            <slot name="footer" v-bind="{ columns }"></slot>
        </tr>
    </tfoot>
</table>
