<table class="table">
    <thead v-if="showHeader && columns.length">
        <tr class="table--row">
            <slot name="header" :columns="columns">
                <th
                    v-for="column in columns"
                    :key="getColumnKey(column)"
                    class="table--cell"
                    scope="col"
                >
                    [[ getColumnLabel(column) ]]
                </th>
            </slot>
        </tr>
    </thead>
    <tbody>
        <tr
            v-for="(row, index) in rows"
            :key="index"
            class="table--row"
        >
            <slot name="row" v-bind="{ row, columns }">
                <td
                    v-for="column in columns"
                    :key="getColumnKey(column)"
                    class="table--cell"
                >
                    <slot
                        name="cell"
                        v-bind="{ row, column, value: getCellValue(row, column) }"
                    >
                        [[ getCellValue(row, column) ]]
                    </slot>
                </td>
            </slot>
        </tr>
    </tbody>
    <tfoot v-if="$slots.footer">
        <tr class="table--row">
            <slot name="footer" v-bind="{ columns }"></slot>
        </tr>
    </tfoot>
</table>
