{%- extends '@WexampleSymfonyDesignSystemBundle/vue/bases/vue.vue.twig' -%}

{%- block vue_config -%}
    {{ parent() }}
    {{ trans_js(render_pass, 'WexampleSymfonyDesignSystemBundle.vue.partials.list-expanded::*') }}
{%- endblock -%}

{%- block vue_body -%}
    <div ref="focusableRoot" class="list-expanded">
        <div v-if="showHeader" class="list-expanded--header">
            <input
                    ref="searchInput"
                    class="form--input list-expanded--search"
                    type="text"
                    :placeholder="resolvedSearchPlaceholder"
                    :value="searchValue"
                    @input="onSearchInput"
                    @keydown.tab="onSearchTab"
            >
            <button
                    v-if="showFilterButton"
                    type="button"
                    class="button"
                    @click="onFilterClick"
            >
                [[ resolvedFilterLabel ]]
            </button>
        </div>

        <div v-if="hasItems" ref="itemsContainer" class="list-expanded--items" @focusin="onItemFocus">
            <slot></slot>
        </div>
        <div v-else class="text-empty">[[ resolvedEmptyLabel ]]</div>
    </div>
{%- endblock -%}
