<div
    :class="spinnerClass"
    :role="hasLabel ? 'status' : null"
    :aria-label="hasLabel ? label : null"
    :aria-hidden="hasLabel ? null : 'true'"
>
    <span class="spinner__circle"></span>
</div>
