{%- extends '@WexampleSymfonyDesignSystemBundle/pages/design_system/generic/content/layout/layout-content.html.twig' -%}

{%- block page_body -%}
    <div class="container align-center content">
    {% for level in ['h1','h2','h3','h4','h5','h6'] %}
        {% set base = '@page::title.' ~ level %}
        <{{ level }}>{{ (base ~ '.title') | trans }}</{{ level }}>
        <p>{{ (base ~ '.description') | trans }}</p>
    {% endfor %}
    </div>
{%- endblock -%}
