@font-face {
  font-family: 'Work Sans Regular';
  src: url('../../fonts/Work_Sans/worksans-regular-webfont.woff2')
      format('woff2'),
    url('../../fonts/Work_Sans/worksans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  // https://web.dev/font-display/?utm_source=lighthouse&utm_medium=devtools
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka One';
  src: url('../../fonts/FredokaOne/FredokaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  // https://web.dev/font-display/?utm_source=lighthouse&utm_medium=devtools
  font-display: swap;
}
