@use '../mixins/text' as text;

.text-strong {
  font-weight: 600;
}

.text-secondary {
  font-size: var(--font-size-2);
  color: var(--text-color-muted);
}

.text-empty {
  color: var(--text-color-subtle);
  font-style: italic;
}

.text-ellipsis {
  @include text.text-ellipsis;
}
