@use '../mixins/text' as text;

.text-strong {
  font-weight: 600;
}

.text-secondary {
  font-size: var(--font-size-2);
  color: var(--color-invert-12);
}

.text-empty {
  color: var(--color-invert-6);
  font-style: italic;
}

.text-ellipsis {
  @include text.text-ellipsis;
}
