{%- extends '@WexampleSymfonyDesignSystemBundle/layouts/default/layout.html.twig' -%}

{%- block layout_config -%}
    {{- render_pass.layoutRenderNode.setDefaultView(_self) -}}
    {{ parent() }}
{%- endblock -%}

{%- block layout_composer_html -%}
    <div class="design-system-layout">
        <div class="design-system-menu">
            <nav class="menu">
                <ul>
                    <li>
                        <a href="#">Buttons</a>
                    </li>
                    <li>
                        <a href="#">Forms</a>
                    </li>
                    <li>
                        <a href="#">Cards</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="design-system-page-content">
            {{ parent() }}
        </div>
    </div>
{%- endblock -%}