$space-0: 0 !default;
$space-1: 0.25rem !default;
$space-2: 0.5rem !default;
$space-3: 0.75rem !default;
$space-4: 1rem !default;
$space-5: 1.5rem !default;
$space-6: 2rem !default;
$space-7: 3rem !default;
