// Base extension.
@use '@wexample/symfony-loader/layouts/default/layout';

// Base shapes.
@use '../../css/shapes/layout-reset-modern';

// Local variables
$font-family-base: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji' !default;
$font-family-heading: $font-family-base !default;
$font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;

html,
body {
  font-family: $font-family-base;
}
