// Base extension.
@use '@wexample/symfony-loader/layouts/default/layout';

// Base shapes.
@use '../../css/shapes/layout-reset-modern';
@use '../../css/partials/font-stack' as font_stack;

// Local variables
$font-family-base: font_stack.$font-stack-sans !default;
$font-family-heading: $font-family-base !default;
$font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;

html,
body {
  font-family: $font-family-base;
}
