// Base extension.
@use '@wexample/symfony-loader/layouts/default/layout';

// Base shapes.
@use '../../css/shapes/layout-reset-modern';

// Local variables
$font-family-base: Arial !default;

html,
body {
  font-family: $font-family-base;
}
