@use '../../css/partials/color-scheme-light' as color_scheme;

// Applied on layout / body
.usage-color-scheme-light {
  background: color_scheme.$color-default-background;
}

// Applied on body / sub-layouts
.usage-color-scheme-light,
.usage-color-scheme-default .usage-color-scheme-light {
  color: color_scheme.$color-default-text;
}
