@use './palette' as palette;
@use '../../css/mixins/color-scheme' as color_scheme;

// Applied on layout / body
.usage-color-scheme-light {
  @include color_scheme.color-scheme(
    palette.$color-light,
    palette.$color-dark,
    palette.$color-info,
    palette.$color-success,
    palette.$color-warning,
    palette.$color-error
  );
  background: var(--color-default-background);
}

// Applied on body / sub-layouts
.usage-color-scheme-light,
.usage-color-scheme-default .usage-color-scheme-light {
  color: var(--color-default-text);
}
