$color-scheme-default-color-dark: #000 !default;
$color-scheme-default-color-light: #FFF !default;

@use '../../css/partials/color-scheme-dark' as color_scheme with (
  $color-scheme-default-color-dark:$color-scheme-default-color-dark,
  $color-scheme-default-color-light:$color-scheme-default-color-light
);

// Applied on layout / body
.usage-color-scheme-dark {
  background: color_scheme.$color-default-background;
}

// Applied on body / sub-layouts
.usage-color-scheme-dark,
.usage-color-scheme-default .usage-color-scheme-dark {
  color: color_scheme.$color-default-text;
}