{%- extends adaptive_response_rendering_base_path(render_pass) -%}

{%- block layout_config -%}
    {{- render_pass.layoutRenderNode.setDefaultView(_self) -}}
    {{ render_pass.setUsage('color_scheme', 'dark') }}
    {{ parent() }}
{%- endblock -%}

{%- block meta -%}
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.wexample.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
{%- endblock -%}

{%- block layout -%}
    {{ parent() }}
    <div class="page-overlay"></div>
    <div class="page-overlay-full"></div>
{%- endblock -%}
