{%- extends adaptive_response_rendering_base_path() -%}

{%- block layout_config -%}
    {{- render_pass.layoutRenderNode.setDefaultTemplateName(_self) -}}
    {{ render_pass.setUsage('color_scheme', 'dark') }}
    {{ parent() }}
{%- endblock -%}

{%- block layout -%}
    {{ parent() }}
    <div class="page-overlay"></div>
    <div class="page-overlay-full"></div>
{%- endblock -%}
