{%- extends '@WexampleSymfonyDesignSystemBundle/vue/bases/form.vue.twig' -%}

{%- block form_body -%}
    <div class="form--group" :class="{ 'has-error': fieldErrors['text_simple'] && fieldErrors['text_simple'].length }">
        <label class="form--label">Demo input</label>
        <input
                class="form--input"
                type="text"
                v-model="name"
                placeholder="Type something"
        >
        {% set form_field_error_path = 'text_simple' %}
        {% set form_field_error_translation_prefix = 'WexampleSymfonyDesignSystemBundle.vue.form.demo-form::error.' %}
        {{ block('form_field_errors') }}
    </div>

    <div class="form--actions">
        <button type="submit">Submit</button>
    </div>
{%- endblock -%}
