@use '../../../mixins/field' as field;

.form--input,
.form--textarea {
  @include field.field-base;
  width: 100%;
  padding: var(--space-2) var(--space-3);
}

.form--input--inline {
  width: auto;
}

select.form--input * {
  color: initial;
  background: initial;
}
